// For scrollbar
.row-container::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}

.row-container::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.2);
}

.row-container::-webkit-scrollbar-track {
  background: transparent;
}

.row-container::-webkit-scrollbar-corner {
  background: transparent;
}


.row-container{
  &.clickable{
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255,.06);
    }
  }
}